<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Vue Course Goals</h1>
    </header>
    <section id="user-goals">
      <h2>My course goals</h2>
      <input type="text" v-model="addGoalValue" />
      <button @click="addGoal()">Add Goal</button>

      <!-- Optionally, we can use v-show instead of v-if. The difference is v-if removes elements from the DOM. v-show just hides and show elements and keeps them in the DOM. -->
      <!-- <p v-show="goals.length === 0">No goals have been added yet - please start adding some!</p> -->

      <!-- v-if checks for truthy or falsy value -->
      <p v-if="goals.length === 0">No goals have been added yet - please start adding some!</p>

      <!-- v-else has to immediately follow v-if and shows if v-if condition is false. Note, there is also v-else-if -->
      <ul v-else>
        <!-- Output your list of goals data with v-for -->
        <li v-for="goal in goals">{{goal}}</li>
      </ul>
    </section>
  </body>
</html>
